.container-skill {
  background-color: #D9B6A3;
  height: 15px;
}

.skills-hard {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  color: white;
  background-color: #7A98BF;
  height:15px;
  font-size: 12px;
}

.rb { width: 50%; }
.react { width: 50%; }
.laravel { width: 70%; }
.symfony { width: 50%; }
.php { width: 70%; }
.js { width: 70%; }
.git { width: 75%; }
.postman { width: 40%; }
.mysql { width: 75%; }
.sqls { width: 75%; }
.postsql { width: 70%; }
.firebird { width: 50%; }