@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.max-width-style{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

section{
  padding: 80px 0;
}

section .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 20px;
}

/* navbar */
.items-style{
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.navbar-style{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  
  transition: all 0.3s ease;
}
.navbar-style .max-width-style{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-style .logo a{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span{
  color: #1734db;
  transition: all 0.3s ease;
}
.navbar-style .menu-style li{
  list-style: none;
  display: inline-block;
}
.navbar-style .menu-style li a{
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar-style .menu-style li a:hover{
  color: #1734db;
}

.navbar-style{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
}

.navbar-style{
  padding: 15px 0;
  background: #151515;
}

.navbar-style .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-style .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar-style .menu-style li{
  list-style: none;
  display: inline-block;
}

.navbar-style .menu-style li a{
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar-style .menu-style li a:hover{
  color: #1229aa;
}

/* information */
.information{
  display: flex;
  background-color: #000;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}
.information .container{
  margin-top: 6rem;
}
.information .container .row .col-md-7 .greeting{
  font-size: 30px;
}
.information .container .row .col-md-7 .name{
  font-size: 50px;
}
.information .container .row .col-md-7 .bx{
  font-size: 45px;
  color: #e92727;
}
.information .container .row .col-md-7 .bx:hover{
  color: #ffffff;
  transition: ease .3s;
}
.information .container .row .col-md-12 .bx-flashing{
  font-size: 45px;
  color: #e92727;
  margin-top: 6rem;
  margin-left: 50%;
}
.img-profile{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-bottom: 5px solid #fff;
  border-top: 5px solid #fff;
}

/* About me */
.about .row p{
  line-height: 2rem;
}

/* Experience */

.line-time {
  position: relative;
  max-width: 95vw;
  height: 100%;
  
}

.line-time::before {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #000;
  left: 50%;
  height: 100%;
  border-radius: 10px;
}

.fech-experience {
  position: relative;
  width: 45%;
  box-sizing: border-box;
}

.fech-experience:nth-child(even) {
  left: 55%;
}

.fech-experience::after {
  background-image: url('../img/business-solid-48.png');
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  top: calc(50% + 10px);
  right: calc(-14.11% - 11.5px);
  height: 48px;
  width: 48px;
}

.fech-experience:nth-child(even)::after {
  left: calc(-14.11% - 8.5px);
}

.fech-experience .description {
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  line-height: 22px;
  font-size: 14px;
}

.fech-experience .description::after {
  content: '';
  position: absolute;
  right: -10px;
  top: calc(50% + 10px);
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid #eee;
}

.fech-experience:nth-child(even) .description {
  background-color: #d6d6d6;
  color: white;
}

.fech-experience:nth-child(even) .description::after{
  left: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid #d6d6d6;
  border-left: none;
}

.description .title-exp{
  color: #000000;
  font-size: 16px;
  line-height: 2rem;
}

.description .title-exp span{
  color: #575757;
}

.description p{
  line-height: 1.5rem;
  color: #202020;
}

/* Contact */
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
  color: #fff;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #1734db;
  top: -10px;
}
.center .content .bx{
  font-size: 1.3rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #1734db;
}
.center .content .text{
  font-size: 1.06rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}


@media (max-width: 991px) {
  .max-width{
    padding: 0 50px;
  }
}

@media (max-width: 947px){
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before{
    content: "\f00d";
  }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    left: 0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}

@media (max-width: 690px) {
  .max-width{
    padding: 0 23px;
  }
}

@media (max-width: 500px) {
  .scroll-up-btn{
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
